# Big Data y Machine Learning (UBA) -  2025

## Trabajo Práctico 1: Jugando con APIs y WebScraping

### Reglas de formato y presentación
- El trabajo debe estar debidamente documentado comentado (utilizando #) para que tanto los docentes como sus compañeros puedan comprender el código fácilmente.

- El mismo debe ser completado en este Jupyter Notebook y entregado como tal, es decir en un archivo .ipynb

### Fecha de entrega:
Viernes 4 de Abril a las 13:00 hs

### Modalidad de entrega
- Al finalizar el trabajo práctico deben hacer un último <i>commit</i> en su repositorio de GitHub llamado “Entrega final del tp”. 
- Asegurense de haber creado una carpeta llamada TP1. Este Jupyter Notebook y el correspondiente al TP1 deben estar dentro de esa carpeta.
- También deben enviar el link de su repositorio -para que pueda ser clonado y corregido- a mi correo 25RO35480961@campus.economicas.uba.ar. Usar de asunto de email <i>"Big Data - TP 1 - Grupo #"</i> y nombrar el archivo <i>"TP1_Grupo #"</i> donde # es el número de grupo que le fue asignado.
- La última versión en el repositorio es la que será evaluada. Por lo que es importante que: 
    - No envien el correo hasta no haber terminado y estar seguros de que han hecho el <i>commit y push</i> a la versión final que quieren entregar. 
    - No hagan nuevos <i>push</i> despues de haber entregado su versión final. Esto generaría confusión acerca de que versión es la que quieren que se les corrija.
- En resumen, la carpeta del repositorio debe incluir:
    - El codigo
    - Un documento Word (Parte A) donde esten las figuras y una breve descripción de las mismas.
    - El excel con los links webscrappeados (Parte B)

### Parte A

#### Ejercicio 1 - Jugando con APIs
Usando la API del Banco Mundial [link](https://wbdata.readthedocs.io/en/stable/) , obtener dos series de indicadores para dos paises a elección en una consulta de búsqueda. Pueden buscar serie de indicadores de su interés.

In [7]:
# Resolver acá
import sys
!{sys.executable} -m pip install wbdata

Requirement already satisfied: wbdata in f:\anaconda\lib\site-packages (1.0.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in f:\anaconda\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3.0.0,>=2.2.1 in f:\anaconda\lib\site-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6.0.0,>=5.3.2 in f:\anaconda\lib\site-packages (from wbdata) (5.3.3)
Requirement already satisfied: dateparser<2.0.0,>=1.2.0 in f:\anaconda\lib\site-packages (from wbdata) (1.2.1)
Requirement already satisfied: decorator<6.0.0,>=5.1.1 in f:\anaconda\lib\site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3.0,>=2.0 in f:\anaconda\lib\site-packages (from wbdata) (2.32.3)
Requirement already satisfied: shelved-cache<0.4.0,>=0.3.1 in f:\anaconda\lib\site-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<0.9.0,>=0.8.5 in f:\anaconda\lib\site-packages (from wbdata) (0.8.10)
Requirement already satisfied: python-dateutil>=2.7.0 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27,>=2015.06.24 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2024.9.11)
Requirement already satisfied: tzlocal>=0.2 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2025.1.31)
Requirement already satisfied: six>=1.5 in f:\anaconda\lib\site-packages (from python-dateutil>=2.7.0->dateparser<2.0.0,>=1.2.0->wbdata) (1.16.0)
Requirement already satisfied: tzdata in f:\anaconda\lib\site-packages (from tzlocal>=0.2->dateparser<2.0.0,>=1.2.0->wbdata) (2023.3)

In [8]:
!pip install wbdata
import wbdata
import pandas as pd

Requirement already satisfied: wbdata in f:\anaconda\lib\site-packages (1.0.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in f:\anaconda\lib\site-packages (from wbdata) (1.4.4)
Requirement already satisfied: backoff<3.0.0,>=2.2.1 in f:\anaconda\lib\site-packages (from wbdata) (2.2.1)
Requirement already satisfied: cachetools<6.0.0,>=5.3.2 in f:\anaconda\lib\site-packages (from wbdata) (5.3.3)
Requirement already satisfied: dateparser<2.0.0,>=1.2.0 in f:\anaconda\lib\site-packages (from wbdata) (1.2.1)
Requirement already satisfied: decorator<6.0.0,>=5.1.1 in f:\anaconda\lib\site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3.0,>=2.0 in f:\anaconda\lib\site-packages (from wbdata) (2.32.3)
Requirement already satisfied: shelved-cache<0.4.0,>=0.3.1 in f:\anaconda\lib\site-packages (from wbdata) (0.3.1)
Requirement already satisfied: tabulate<0.9.0,>=0.8.5 in f:\anaconda\lib\site-packages (from wbdata) (0.8.10)
Requirement already satisfied: python-dateutil>=2.7.0 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27,>=2015.06.24 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (2024.9.11)
Requirement already satisfied: tzlocal>=0.2 in f:\anaconda\lib\site-packages (from dateparser<2.0.0,>=1.2.0->wbdata) (5.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in f:\anaconda\lib\site-packages (from requests<3.0,>=2.0->wbdata) (2025.1.31)
Requirement already satisfied: six>=1.5 in f:\anaconda\lib\site-packages (from python-dateutil>=2.7.0->dateparser<2.0.0,>=1.2.0->wbdata) (1.16.0)
Requirement already satisfied: tzdata in f:\anaconda\lib\site-packages (from tzlocal>=0.2->dateparser<2.0.0,>=1.2.0->wbdata) (2023.3)

In [9]:
wbdata.get_indicators(source=25)

id                    name
--------------------  ----------------------------------------------------------------------------------------------------------------
BM.KLT.DINV.WD.GD.ZS  Foreign direct investment, net outflows (% of GDP)
BM.TRF.PWKR.CD.DT     Personal remittances, paid (current US$)
BX.KLT.DINV.WD.GD.ZS  Foreign direct investment, net inflows (% of GDP)
BX.TRF.PWKR.CD        Personal transfers, receipts (BoP, current US$)
CM.MKT.LCAP.GD.ZS     Market capitalization of listed domestic companies (% of GDP)
EG.ELC.ACCS.ZS        Access to electricity (% of population)
EG.USE.ELEC.KH.PC     Electric power consumption (kWh per capita)
EN.POP.DNST           Population density (people per sq. km of land area)
FB.ATM.TOTL.P5        Automated teller machines (ATMs) (per 100,000 adults)
FB.CBK.BRWR.P3        Borrowers from commercial banks (per 1,000 adults)
FP.CPI.TOTL           Consumer price index (2010 = 100)
FP.CPI.TOTL.ZG        Inflation, consumer prices (annual %)
FS.AST.DOMS.GD.ZS     Domestic credit provided by financial sector (% of GDP)
FS.AST.PRVT.GD.ZS     Domestic credit to private sector (% of GDP)
GB.XPD.RSDV.GD.ZS     Research and development expenditure (% of GDP)
GC.TAX.TOTL.GD.ZS     Tax revenue (% of GDP)
GC.TAX.YPKG.ZS        Taxes on income, profits and capital gains (% of total taxes)
IC.BUS.EASE.XQ        Ease of doing business rank (1=most business-friendly regulations)
IC.BUS.NDNS.ZS        New business density (new registrations per 1,000 people ages 15-64)
IC.BUS.NREG           New businesses registered (number)
IC.CRD.INFO.XQ        Depth of credit information index (0=low to 8=high)
IC.CRD.PRVT.ZS        Private credit bureau coverage (% of adults)
IC.CRD.PUBL.ZS        Public credit registry coverage (% of adults)
IC.FRM.CORR.ZS        Informal payments to public officials (% of firms)
IC.FRM.DURS           Time required to obtain an operating license (days)
IC.ISV.DURS           Time to resolve insolvency (years)
IC.LGL.DURS           Time required to enforce a contract (days)
IC.PRP.DURS           Time required to register property (days)
IC.REG.DURS           Time required to start a business (days)
IC.TAX.DURS           Time to prepare and pay taxes (hours)
IC.TAX.METG           Number of visits or required meetings with tax officials (average for affected firms)
IC.TAX.PAYM           Tax payments (number)
IQ.CPA.ECON.XQ        CPIA economic management cluster average (1=low to 6=high)
IQ.CPA.FINS.XQ        CPIA financial sector rating (1=low to 6=high)
IQ.CPA.GNDR.XQ        CPIA gender equality rating (1=low to 6=high)
IQ.CPA.MACR.XQ        CPIA macroeconomic management rating (1=low to 6=high)
IQ.CPA.PROP.XQ        CPIA property rights and rule-based governance rating (1=low to 6=high)
IQ.CPA.PROT.XQ        CPIA social protection rating (1=low to 6=high)
IQ.CPA.SOCI.XQ        CPIA policies for social inclusion/equity cluster average (1=low to 6=high)
IS.AIR.DPRT           Air transport, registered carrier departures worldwide
IT.CEL.SETS.P2        Mobile cellular subscriptions (per 100 people)
IT.MLT.MAIN.P2        Fixed telephone subscriptions (per 100 people)
IT.NET.BBND.P2        Fixed broadband subscriptions (per 100 people)
IT.NET.USER.ZS        Individuals using the Internet (% of population)
NE.EXP.GNFS.KD.ZG     Exports of goods and services (annual % growth)
NE.EXP.GNFS.ZS        Exports of goods and services (% of GDP)
NE.GDI.FPRV.ZS        Gross fixed capital formation, private sector (% of GDP)
NE.GDI.TOTL.KD.ZG     Gross capital formation (annual % growth)
NE.GDI.TOTL.ZS        Gross capital formation (% of GDP)
NE.IMP.GNFS.ZS        Imports of goods and services (% of GDP)
NV.AGR.TOTL.KD        Agriculture, forestry, and fishing, value added (constant 2015 US$)
NV.AGR.TOTL.KD.ZG     Agriculture, forestry, and fishing, value added (annual % growth)
NV.AGR.TOTL.ZS        Agriculture, forestry, and fishing, value added (% of GDP)
NV.IND.MANF.KD        Manufacturing, value added (constant 2015 US$)
NV.IND.MANF.KD.ZG     Manufacturing, value added (annual % growth)
NV.IND.MANF.ZS        Manufacturing, value added (% of GDP)
NV.IND.TOTL.KD        Industry (including construction), value added (constant 2015 US$)
NV.IND.TOTL.KD.ZG     Industry (including construction), value added (annual % growth)
NV.IND.TOTL.ZS        Industry (including construction), value added (% of GDP)
NY.GDP.MKTP.KD.ZG     GDP growth (annual %)
NY.GDP.PCAP.KD        GDP per capita (constant 2015 US$)
NY.GDP.PCAP.PP.KD     GDP per capita, PPP (constant 2021 international $)
SE.ADT.1524.LT.FE.ZS  Literacy rate, youth female (% of females ages 15-24)
SE.ADT.1524.LT.MA.ZS  Literacy rate, youth male (% of males ages 15-24)
SE.ADT.1524.LT.ZS     Literacy rate, youth total (% of people ages 15-24)
SE.ADT.LITR.FE.ZS     Literacy rate, adult female (% of females ages 15 and above)
SE.ADT.LITR.MA.ZS     Literacy rate, adult male (% of males ages 15 and above)
SE.ADT.LITR.ZS        Literacy rate, adult total (% of people ages 15 and above)
SE.ENR.SECO.FM.ZS     School enrollment, secondary (gross), gender parity index (GPI)
SE.ENR.TERT.FM.ZS     School enrollment, tertiary (gross), gender parity index (GPI)
SE.PRM.CMPT.FE.ZS     Primary completion rate, female (% of relevant age group)
SE.PRM.CMPT.MA.ZS     Primary completion rate, male (% of relevant age group)
SE.PRM.CMPT.ZS        Primary completion rate, total (% of relevant age group)
SE.PRM.ENRR           School enrollment, primary (% gross)
SE.PRM.ENRR.FE        School enrollment, primary, female (% gross)
SE.PRM.ENRR.MA        School enrollment, primary, male (% gross)
SE.SEC.ENRR           School enrollment, secondary (% gross)
SE.SEC.ENRR.FE        School enrollment, secondary, female (% gross)
SE.SEC.ENRR.MA        School enrollment, secondary, male (% gross)
SE.TER.ENRR           School enrollment, tertiary (% gross)
SE.TER.ENRR.FE        School enrollment, tertiary, female (% gross)
SE.TER.ENRR.MA        School enrollment, tertiary, male (% gross)
SE.XPD.TOTL.GD.ZS     Government expenditure on education, total (% of GDP)
SH.DYN.AIDS.ZS        Prevalence of HIV, total (% of population ages 15-49)
SH.MMR.RISK.ZS        Lifetime risk of maternal death (%)
SI.POV.DDAY           Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)
SI.POV.GINI           Gini index
SL.AGR.EMPL.FE.ZS     Employment in agriculture, female (% of female employment) (modeled ILO estimate)
SL.AGR.EMPL.MA.ZS     Employment in agriculture, male (% of male employment) (modeled ILO estimate)
SL.AGR.EMPL.ZS        Employment in agriculture (% of total employment) (modeled ILO estimate)
SL.EMP.MPYR.FE.ZS     Employers, female (% of female employment) (modeled ILO estimate)
SL.EMP.MPYR.MA.ZS     Employers, male (% of male employment) (modeled ILO estimate)
SL.EMP.MPYR.ZS        Employers, total (% of total employment) (modeled ILO estimate)
SL.EMP.OWAC.FE.ZS     Own-account workers, female (% of female employment) (modeled ILO estimate)
SL.EMP.OWAC.MA.ZS     Own-account workers, male (% of male employment) (modeled ILO estimate)
SL.EMP.OWAC.ZS        Own-account workers, total (% of total employment)
SL.EMP.SELF.FE.ZS     Self-employed, female (% of female employment) (modeled ILO estimate)
SL.EMP.SELF.MA.ZS     Self-employed, male (% of male employment) (modeled ILO estimate)
SL.EMP.SELF.ZS        Self-employed, total (% of total employment) (modeled ILO estimate)
SL.EMP.TOTL           Number of people employed
SL.EMP.VULN.FE.ZS     Vulnerable employment, female (% of female employment) (modeled ILO estimate)
SL.EMP.VULN.MA.ZS     Vulnerable employment, male (% of male employment) (modeled ILO estimate)
SL.EMP.VULN.ZS        Vulnerable employment, total (% of total employment) (modeled ILO estimate)
SL.EMP.WORK.FE.ZS     Wage and salaried workers, female (% of female employment) (modeled ILO estimate)
SL.EMP.WORK.MA.ZS     Wage and salaried workers, male (% of male employment) (modeled ILO estimate)
SL.EMP.WORK.ZS        Wage and salaried workers, total (% of total employment) (modeled ILO estimate)
SL.FAM.WORK.FE.ZS     Contributing family workers, female (% of female employment) (modeled ILO estimate)
SL.FAM.WORK.MA.ZS     Contributing family workers, male (% of male employment) (modeled ILO estimate)
SL.FAM.WORK.ZS        Contributing family workers, total (% of total employment) (modeled ILO estimate)
SL.GDP.PCAP.EM.KD     GDP per person employed (constant 2021 PPP $)
SL.IND.EMPL.FE.ZS     Employment in industry, female (% of female employment) (modeled ILO estimate)
SL.IND.EMPL.MA.ZS     Employment in industry, male (% of male employment) (modeled ILO estimate)
SL.IND.EMPL.ZS        Employment in industry (% of total employment) (modeled ILO estimate)
SL.SRV.EMPL.FE.ZS     Employment in services, female (% of female employment) (modeled ILO estimate)
SL.SRV.EMPL.MA.ZS     Employment in services, male (% of male employment) (modeled ILO estimate)
SL.SRV.EMPL.ZS        Employment in services (% of total employment) (modeled ILO estimate)
SL.TLF.ADVN.FE.ZS     Labor force with advanced education, female (% of female working-age population with advanced education)
SL.TLF.ADVN.MA.ZS     Labor force with advanced education, male (% of male working-age population with advanced education)
SL.TLF.ADVN.ZS        Labor force with advanced education (% of total working-age population with advanced education)
SL.TLF.BASC.FE.ZS     Labor force with basic education, female (% of female working-age population with basic education)
SL.TLF.BASC.MA.ZS     Labor force with basic education, male (% of male working-age population with basic education)
SL.TLF.BASC.ZS        Labor force with basic education (% of total working-age population with basic education)
SL.TLF.CACT.FE.ZS     Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)
SL.TLF.CACT.MA.ZS     Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)
SL.TLF.CACT.ZS        Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)
SL.TLF.INTM.FE.ZS     Labor force with intermediate education, female (% of female working-age population with intermediate education)
SL.TLF.INTM.MA.ZS     Labor force with intermediate education, male (% of male working-age population with intermediate education)
SL.TLF.INTM.ZS        Labor force with intermediate education (% of total working-age population with intermediate education)
SL.TLF.TOTL.IN        Labor force, total
SL.UEM.1524.FE.ZS     Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)
SL.UEM.1524.MA.ZS     Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)
SL.UEM.1524.ZS        Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate)
SL.UEM.ADVN.FE.ZS     Unemployment with advanced education, female (% of female labor force with advanced education)
SL.UEM.ADVN.MA.ZS     Unemployment with advanced education, male (% of male labor force with advanced education)
SL.UEM.ADVN.ZS        Unemployment with advanced education (% of total labor force with advanced education)
SL.UEM.INTM.FE.ZS     Unemployment with intermediate education, female (% of female labor force with intermediate education)
SL.UEM.INTM.MA.ZS     Unemployment with intermediate education, male (% of male labor force with intermediate education)
SL.UEM.INTM.ZS        Unemployment with intermediate education (% of total labor force with intermediate education)
SL.UEM.TOTL.FE.ZS     Unemployment, female (% of female labor force) (modeled ILO estimate)
SL.UEM.TOTL.MA.ZS     Unemployment, male (% of male labor force) (modeled ILO estimate)
SL.UEM.TOTL.ZS        Unemployment, total (% of total labor force) (modeled ILO estimate)
SM.POP.TOTL.ZS        International migrant stock (% of population)
SP.ADO.TFRT           Adolescent fertility rate (births per 1,000 women ages 15-19)
SP.DYN.LE00.FE.IN     Life expectancy at birth, female (years)
SP.DYN.LE00.MA.IN     Life expectancy at birth, male (years)
SP.DYN.TFRT.IN        Fertility rate, total (births per woman)
SP.POP.0014.TO        Population ages 0-14, total
SP.POP.0014.TO.ZS     Population ages 0-14 (% of total population)
SP.POP.1564.TO        Population ages 15-64, total
SP.POP.1564.TO.ZS     Population ages 15-64 (% of total population)
SP.POP.65UP.TO        Population ages 65 and above, total
SP.POP.65UP.TO.ZS     Population ages 65 and above (% of total population)
SP.POP.DPND           Age dependency ratio (% of working-age population)
SP.POP.GROW           Population growth (annual %)
SP.POP.SCIE.RD.P6     Researchers in R&D (per million people)
SP.POP.TECH.RD.P6     Technicians in R&D (per million people)
SP.POP.TOTL           Population, total
SP.RUR.TOTL           Rural population
SP.RUR.TOTL.ZS        Rural population (% of total population)
SP.URB.TOTL           Urban population
SP.URB.TOTL.IN.ZS     Urban population (% of total population)
TM.VAL.ICTG.ZS.UN     ICT goods imports (% total goods imports)
TX.QTY.MRCH.XD.WD     Export volume index (2015 = 100)
TX.VAL.FUEL.ZS.UN     Fuel exports (% of merchandise exports)
TX.VAL.MRCH.XD.WD     Export value index (2015 = 100)
TX.VAL.TECH.MF.ZS     High-technology exports (% of manufactured exports)

In [10]:
wbdata.get_countries()

id    name
----  --------------------------------------------------------------------------------
ABW   Aruba
AFE   Africa Eastern and Southern
AFG   Afghanistan
AFR   Africa
AFW   Africa Western and Central
AGO   Angola
ALB   Albania
AND   Andorra
ARB   Arab World
ARE   United Arab Emirates
ARG   Argentina
ARM   Armenia
ASM   American Samoa
ATG   Antigua and Barbuda
AUS   Australia
AUT   Austria
AZE   Azerbaijan
BDI   Burundi
BEA   East Asia & Pacific (IBRD-only countries)
BEC   Europe & Central Asia (IBRD-only countries)
BEL   Belgium
BEN   Benin
BFA   Burkina Faso
BGD   Bangladesh
BGR   Bulgaria
BHI   IBRD countries classified as high income
BHR   Bahrain
BHS   Bahamas, The
BIH   Bosnia and Herzegovina
BLA   Latin America & the Caribbean (IBRD-only countries)
BLR   Belarus
BLZ   Belize
BMN   Middle East & North Africa (IBRD-only countries)
BMU   Bermuda
BOL   Bolivia
BRA   Brazil
BRB   Barbados
BRN   Brunei Darussalam
BSS   Sub-Saharan Africa (IBRD-only countries)
BTN   Bhutan
BWA   Botswana
CAA   Sub-Saharan Africa (IFC classification)
CAF   Central African Republic
CAN   Canada
CEA   East Asia and the Pacific (IFC classification)
CEB   Central Europe and the Baltics
CEU   Europe and Central Asia (IFC classification)
CHE   Switzerland
CHI   Channel Islands
CHL   Chile
CHN   China
CIV   Cote d'Ivoire
CLA   Latin America and the Caribbean (IFC classification)
CME   Middle East and North Africa (IFC classification)
CMR   Cameroon
COD   Congo, Dem. Rep.
COG   Congo, Rep.
COL   Colombia
COM   Comoros
CPV   Cabo Verde
CRI   Costa Rica
CSA   South Asia (IFC classification)
CSS   Caribbean small states
CUB   Cuba
CUW   Curacao
CYM   Cayman Islands
CYP   Cyprus
CZE   Czechia
DEA   East Asia & Pacific (IDA-eligible countries)
DEC   Europe & Central Asia (IDA-eligible countries)
DEU   Germany
DJI   Djibouti
DLA   Latin America & the Caribbean (IDA-eligible countries)
DMA   Dominica
DMN   Middle East & North Africa (IDA-eligible countries)
DNK   Denmark
DNS   IDA countries in Sub-Saharan Africa not classified as fragile situations
DOM   Dominican Republic
DSA   South Asia (IDA-eligible countries)
DSF   IDA countries in Sub-Saharan Africa classified as fragile situations
DSS   Sub-Saharan Africa (IDA-eligible countries)
DZA   Algeria
EAP   East Asia & Pacific (excluding high income)
EAR   Early-demographic dividend
EAS   East Asia & Pacific
ECA   Europe & Central Asia (excluding high income)
ECS   Europe & Central Asia
ECU   Ecuador
EGY   Egypt, Arab Rep.
EMU   Euro area
ERI   Eritrea
ESP   Spain
EST   Estonia
ETH   Ethiopia
EUU   European Union
FCS   Fragile and conflict affected situations
FIN   Finland
FJI   Fiji
FRA   France
FRO   Faroe Islands
FSM   Micronesia, Fed. Sts.
FXS   IDA countries classified as fragile situations, excluding Sub-Saharan Africa
GAB   Gabon
GBR   United Kingdom
GEO   Georgia
GHA   Ghana
GIB   Gibraltar
GIN   Guinea
GMB   Gambia, The
GNB   Guinea-Bissau
GNQ   Equatorial Guinea
GRC   Greece
GRD   Grenada
GRL   Greenland
GTM   Guatemala
GUM   Guam
GUY   Guyana
HIC   High income
HKG   Hong Kong SAR, China
HND   Honduras
HPC   Heavily indebted poor countries (HIPC)
HRV   Croatia
HTI   Haiti
HUN   Hungary
IBB   IBRD, including blend
IBD   IBRD only
IBT   IDA & IBRD total
IDA   IDA total
IDB   IDA blend
IDN   Indonesia
IDX   IDA only
IMN   Isle of Man
IND   India
INX   Not classified
IRL   Ireland
IRN   Iran, Islamic Rep.
IRQ   Iraq
ISL   Iceland
ISR   Israel
ITA   Italy
JAM   Jamaica
JOR   Jordan
JPN   Japan
KAZ   Kazakhstan
KEN   Kenya
KGZ   Kyrgyz Republic
KHM   Cambodia
KIR   Kiribati
KNA   St. Kitts and Nevis
KOR   Korea, Rep.
KWT   Kuwait
LAC   Latin America & Caribbean (excluding high income)
LAO   Lao PDR
LBN   Lebanon
LBR   Liberia
LBY   Libya
LCA   St. Lucia
LCN   Latin America & Caribbean
LDC   Least developed countries: UN classification
LIC   Low income
LIE   Liechtenstein
LKA   Sri Lanka
LMC   Lower middle income
LMY   Low & middle income
LSO   Lesotho
LTE   Late-demographic dividend
LTU   Lithuania
LUX   Luxembourg
LVA   Latvia
MAC   Macao SAR, China
MAF   St. Martin (French part)
MAR   Morocco
MCO   Monaco
MDA   Moldova
MDE   Middle East (developing only)
MDG   Madagascar
MDV   Maldives
MEA   Middle East & North Africa
MEX   Mexico
MHL   Marshall Islands
MIC   Middle income
MKD   North Macedonia
MLI   Mali
MLT   Malta
MMR   Myanmar
MNA   Middle East & North Africa (excluding high income)
MNE   Montenegro
MNG   Mongolia
MNP   Northern Mariana Islands
MOZ   Mozambique
MRT   Mauritania
MUS   Mauritius
MWI   Malawi
MYS   Malaysia
NAC   North America
NAF   North Africa
NAM   Namibia
NCL   New Caledonia
NER   Niger
NGA   Nigeria
NIC   Nicaragua
NLD   Netherlands
NOR   Norway
NPL   Nepal
NRS   Non-resource rich Sub-Saharan Africa countries
NRU   Nauru
NXS   IDA countries not classified as fragile situations, excluding Sub-Saharan Africa
NZL   New Zealand
OED   OECD members
OMN   Oman
OSS   Other small states
PAK   Pakistan
PAN   Panama
PER   Peru
PHL   Philippines
PLW   Palau
PNG   Papua New Guinea
POL   Poland
PRE   Pre-demographic dividend
PRI   Puerto Rico
PRK   Korea, Dem. People's Rep.
PRT   Portugal
PRY   Paraguay
PSE   West Bank and Gaza
PSS   Pacific island small states
PST   Post-demographic dividend
PYF   French Polynesia
QAT   Qatar
ROU   Romania
RRS   Resource rich Sub-Saharan Africa countries
RUS   Russian Federation
RWA   Rwanda
SAS   South Asia
SAU   Saudi Arabia
SDN   Sudan
SEN   Senegal
SGP   Singapore
SLB   Solomon Islands
SLE   Sierra Leone
SLV   El Salvador
SMR   San Marino
SOM   Somalia
SRB   Serbia
SSA   Sub-Saharan Africa (excluding high income)
SSD   South Sudan
SSF   Sub-Saharan Africa
SST   Small states
STP   Sao Tome and Principe
SUR   Suriname
SVK   Slovak Republic
SVN   Slovenia
SWE   Sweden
SWZ   Eswatini
SXM   Sint Maarten (Dutch part)
SXZ   Sub-Saharan Africa excluding South Africa
SYC   Seychelles
SYR   Syrian Arab Republic
TCA   Turks and Caicos Islands
TCD   Chad
TEA   East Asia & Pacific (IDA & IBRD countries)
TEC   Europe & Central Asia (IDA & IBRD countries)
TGO   Togo
THA   Thailand
TJK   Tajikistan
TKM   Turkmenistan
TLA   Latin America & the Caribbean (IDA & IBRD countries)
TLS   Timor-Leste
TMN   Middle East & North Africa (IDA & IBRD countries)
TON   Tonga
TSA   South Asia (IDA & IBRD)
TSS   Sub-Saharan Africa (IDA & IBRD countries)
TTO   Trinidad and Tobago
TUN   Tunisia
TUR   Turkiye
TUV   Tuvalu
TZA   Tanzania
UGA   Uganda
UKR   Ukraine
UMC   Upper middle income
URY   Uruguay
USA   United States
UZB   Uzbekistan
VCT   St. Vincent and the Grenadines
VEN   Venezuela, RB
VGB   British Virgin Islands
VIR   Virgin Islands (U.S.)
VNM   Viet Nam
VUT   Vanuatu
WLD   World
WSM   Samoa
XKX   Kosovo
XZN   Sub-Saharan Africa excluding South Africa and Nigeria
YEM   Yemen, Rep.
ZAF   South Africa
ZMB   Zambia
ZWE   Zimbabwe

In [11]:
wbdata.get_data("IC.BUS.NREG", country=["ESP", "PRT"], date=("2016", "2018"))

[{'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'ES', 'value': 'Spain'},
  'countryiso3code': 'ESP',
  'date': '2018',
  'value': 93560,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'ES', 'value': 'Spain'},
  'countryiso3code': 'ESP',
  'date': '2017',
  'value': 92613,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'ES', 'value': 'Spain'},
  'countryiso3code': 'ESP',
  'date': '2016',
  'value': 98824,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'PT', 'value': 'Portugal'},
  'countryiso3code': 'PRT',
  'date': '2018',
  'value': 43114,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'PT', 'value': 'Portugal'},
  'countryiso3code': 'PRT',
  'date': '2017',
  'value': 37571,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': 'IC.BUS.NREG',
   'value': 'New businesses registered (number)'},
  'country': {'id': 'PT', 'value': 'Portugal'},
  'countryiso3code': 'PRT',
  'date': '2016',
  'value': 33651,
  'unit': '',
  'obs_status': '',
  'decimal': 0}]

In [19]:
indicadores = {'IC.BUS.NREG':'Negocios_creados','IC.REG.DURS':'Dias_para_empezar_negocio'}
data = wbdata.get_dataframe(indicadores, country=['ESP','PRT'])

df = pd.DataFrame(data=data)
df.reset_index(inplace=True)
df

      country  date  Negocios_creados  Dias_para_empezar_negocio
0       Spain  2023               NaN                        NaN
1       Spain  2022           96655.0                        NaN
2       Spain  2021           99159.0                        NaN
3       Spain  2020           77541.0                        NaN
4       Spain  2019           92010.0                       12.5
..        ...   ...               ...                        ...
123  Portugal  1964               NaN                        NaN
124  Portugal  1963               NaN                        NaN
125  Portugal  1962               NaN                        NaN
126  Portugal  1961               NaN                        NaN
127  Portugal  1960               NaN                        NaN

[128 rows x 4 columns]

In [29]:
df['date'] = pd.to_numeric(df['date'], errors='coerce')
df_filtrado = df[(df['country'].isin(['Spain', 'Portugal'])) & (df['date'].between(2009, 2019))]
print(df_filtrado)

     country  date  Negocios_creados  Dias_para_empezar_negocio
4      Spain  2019           92010.0                       12.5
5      Spain  2018           93560.0                       12.5
6      Spain  2017           92613.0                       13.0
7      Spain  2016           98824.0                       13.0
8      Spain  2015           91750.0                       14.0
9      Spain  2014           91544.0                       14.0
10     Spain  2013           90373.0                       24.0
11     Spain  2012           84399.0                       30.0
12     Spain  2011           81027.0                       29.0
13     Spain  2010           75885.0                       52.0
14     Spain  2009           74333.0                       61.0
68  Portugal  2019           46880.0                        6.5
69  Portugal  2018           43114.0                        6.5
70  Portugal  2017           37571.0                        6.5
71  Portugal  2016           33651.0                        6.0
72  Portugal  2015           34120.0                        6.0
73  Portugal  2014           31860.0                        6.0
74  Portugal  2013           32081.0                        6.0
75  Portugal  2012           27803.0                        7.0
76  Portugal  2011           31896.0                        7.0
77  Portugal  2010           28501.0                        7.0
78  Portugal  2009           28381.0                        7.0

#### Ejercicio 2 - Repaso de Pandas
Realicen una estadistica descriptiva de ambas series de indicadores comparando los dos países.

In [69]:
df_filtrado.groupby("country").describe()

          date                                                            \
         count    mean       std     min     25%     50%     75%     max
country
Portugal  11.0  2014.0  3.316625  2009.0  2011.5  2014.0  2016.5  2019.0
Spain     11.0  2014.0  3.316625  2009.0  2011.5  2014.0  2016.5  2019.0

         Negocios_creados                ... promedio_negocios_creados  \
                    count          mean  ...                       75%
country                                  ...
Portugal             11.0  34168.909091  ...              65167.558824
Spain                11.0  87847.090909  ...              65167.558824

                       promedio_negocios
                   max             count mean std min 25% 50% 75% max
country
Portugal  65167.558824               0.0  NaN NaN NaN NaN NaN NaN NaN
Spain     65167.558824               0.0  NaN NaN NaN NaN NaN NaN NaN

[2 rows x 40 columns]

In [71]:
df_filtrado.columns

Index(['country', 'date', 'Negocios_creados', 'Dias_para_empezar_negocio',
       'promedio_negocios_creados', 'promedio_negocios'],
      dtype='object')

In [79]:
df_corregido =df_filtrado.drop(["promedio_negocios_creados","promedio_negocios"], axis=1)

In [121]:
df_estadistico=df_corregido.groupby("country").describe()
df_correcto = df_estadistico.drop(["date"], axis=1)
df_correcto.round(0).astype(int)

         Negocios_creados                                                  \
                    count   mean   std    min    25%    50%    75%    max
country
Portugal               11  34169  6119  27803  30180  32081  35846  46880
Spain                  11  87847  7827  74333  82713  91544  92312  98824

         Dias_para_empezar_negocio
                             count mean std min 25% 50% 75% max
country
Portugal                        11    6   0   6   6   6   7   7
Spain                           11   25  17  12  13  14  30  61

In [133]:
df_corregido

     country  date  Negocios_creados  Dias_para_empezar_negocio
4      Spain  2019           92010.0                       12.5
5      Spain  2018           93560.0                       12.5
6      Spain  2017           92613.0                       13.0
7      Spain  2016           98824.0                       13.0
8      Spain  2015           91750.0                       14.0
9      Spain  2014           91544.0                       14.0
10     Spain  2013           90373.0                       24.0
11     Spain  2012           84399.0                       30.0
12     Spain  2011           81027.0                       29.0
13     Spain  2010           75885.0                       52.0
14     Spain  2009           74333.0                       61.0
68  Portugal  2019           46880.0                        6.5
69  Portugal  2018           43114.0                        6.5
70  Portugal  2017           37571.0                        6.5
71  Portugal  2016           33651.0                        6.0
72  Portugal  2015           34120.0                        6.0
73  Portugal  2014           31860.0                        6.0
74  Portugal  2013           32081.0                        6.0
75  Portugal  2012           27803.0                        7.0
76  Portugal  2011           31896.0                        7.0
77  Portugal  2010           28501.0                        7.0
78  Portugal  2009           28381.0                        7.0

#### Ejercicio 3 - Practicando con Matplotlib
Armen dos gráficos distintos usando la librería Matplotlib (repasen Clase 4). Uno programandolo con el estilo *pyplot* y otro gráfico de estilo *orientada a objetos*

In [ ]:
# Resolver acá estilo pyplot

In [ ]:
# Resolver acá estilo orientado-objetos 
# Tip: aprovechar este estilo de programar una figura para hacerlo más lindo

### Parte B

#### Ejercicio 4
De la página de noticias del [diario La Nación](https://www.lanacion.com.ar/) o cualquier diario que les interese, utilicen herramientas de web scraping para obtener los **links** de las noticias de la portada. Guarden los links obtenidos en un dataframe y expórtenlo a un archivo de excel.

Nota 1: es posible que logren obtener los links a las noticias sin el dominio: "https://www.lanacion.com.ar/". De ser así, concatenen el dominio a la ruta del link obtenido, tal que se obtenga un link al que se pueda acceder. Es decir, que las cadenas de caracteres finales tendrán la forma: https://www.lanacion.com.ar/*texto_obtenido*)

Nota 2: junto con su entrega, adjunten una captura de la página de noticias al momento de correr su código. Eso servirá al momento de la corrección para verificar que los links obtenidos hacen referencia a las noticias de ese día y hora.

In [ ]:
# Resolver acá